<% if @defender.errors.any? %>
  <% @defender.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit defender #<%= @defender.id %>
</h1>

<hr>

<form action="/update_defender/<%= @defender.id %>" method="post">

  <div class="form-group">
    <label for="position_id">
      Position
    </label>

    <%= select_tag(:position_id, options_from_collection_for_select(Position.all, :id, :created_at, @defender.position_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update defender
  </button>
</form>

<hr>

<a href="/defenders">
  Go back
</a>
