<!-- Validation failure messages -->
<% if @defender.present? %>
  <% if @defender.errors.any? %>
    <% @defender.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new defender
</h1>


<hr>

<!-- Form defender start -->
<form action="/create_defender" method="post">
<!-- Form defender end -->

  <!-- Label and input for position_id start -->
  <div class="form-group">
    <label for="position_id">
      Position
    </label>

    <!-- Input for position_id start -->
    <input type="text" id="position_id" name="position_id" class="form-control" value="<%= @defender.position_id %>">
    <!-- Input for position_id end -->
  </div>
  <!-- Label and input for position_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create defender
  </button>
</form>

<hr>

<a href="/defenders">
  Go back
</a>
