<% if @midfielder.errors.any? %>
  <% @midfielder.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit midfielder #<%= @midfielder.id %>
</h1>

<hr>

<form action="/update_midfielder/<%= @midfielder.id %>" method="post">

  <div class="form-group">
    <label for="position_id">
      Position
    </label>

    <%= select_tag(:position_id, options_from_collection_for_select(Position.all, :id, :created_at, @midfielder.position_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update midfielder
  </button>
</form>

<hr>

<a href="/midfielders">
  Go back
</a>
