<h1>
  Add a new midfielder
</h1>


<hr>

<!-- Form midfielder start -->
<form action="/create_midfielder" method="post">
<!-- Form midfielder end -->

  <!-- Label and input for position_id start -->
  <div class="form-group">
    <label for="position_id">
      Position
    </label>

    <!-- Input for position_id start -->
    <%= select_tag(:position_id, options_from_collection_for_select(Position.all, :id, :created_at, @midfielder.position_id), :class => "form-control") %>
    <!-- Input for position_id end -->
  </div>
  <!-- Label and input for position_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create midfielder
  </button>
</form>

<hr>

<a href="/midfielders">
  Go back
</a>
