<form action="/create_defender_from_position" method="post">

  <input type="hidden" name="position_id" value="<%= @position.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create defender
  </button>
</form>
