<!-- Form goalkeeper start -->
<form action="/create_goalkeeper_from_position" method="post">
<!-- Form goalkeeper end -->

  <!-- Label and input for position_id start -->
  <!-- Input for position_id start -->
  <input type="hidden" name="position_id" value="<%= @position.id %>">
  <!-- Input for position_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create goalkeeper
  </button>
</form>
