<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Players

    <a data-toggle="collapse" href="#position_players_new_form">
      Add player
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @position.players.each do |player| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/players/<%= player.id %>">
          <%= player.nationality %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_player_from_position/<%= player.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="position_players_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "position_templates/position_players_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
