<h1>
  Edit position #<%= @position.id %>
</h1>

<hr>

<form action="/update_position/<%= @position.id %>" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Update position
  </button>
</form>

<hr>

<a href="/positions">
  Go back
</a>
