<h1>
  Add a new position
</h1>


<hr>

<!-- Form position start -->
<form action="/create_position" method="post">
<!-- Form position end -->

  <button class="btn btn-block btn-outline-secondary">
    Create position
  </button>
</form>

<hr>

<a href="/positions">
  Go back
</a>
