<h1>
  Add a new position
</h1>


<hr>

<form action="/create_position" method="post">

  <button class="btn btn-block btn-outline-secondary">
    Create position
  </button>
</form>

<hr>

<a href="/positions">
  Go back
</a>
