<h1>
  Edit forward #<%= @forward.id %>
</h1>

<hr>

<form action="/update_forward/<%= @forward.id %>" method="post">

  <div class="form-group">
    <label for="position_id">
      Position
    </label>

    <%= select_tag(:position_id, options_from_collection_for_select(Position.all, :id, :created_at, @forward.position_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update forward
  </button>
</form>

<hr>

<a href="/forwards">
  Go back
</a>
