<h1>
  Add a new forward
</h1>


<hr>

<!-- Form forward start -->
<form action="/create_forward" method="post">
<!-- Form forward end -->

  <!-- Label and input for position_id start -->
  <div class="form-group">
    <label for="position_id">
      Position
    </label>

    <!-- Input for position_id start -->
    <input type="text" id="position_id" name="position_id" class="form-control">
    <!-- Input for position_id end -->
  </div>
  <!-- Label and input for position_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create forward
  </button>
</form>

<hr>

<a href="/forwards">
  Go back
</a>
